@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@0,400..600;&display=swap');

/* CAN EDIT */
:root {
  --green: #86BB71;
  --operator-message: #009948;
  --ai-message: #92959e;
  --my-message: #f0f2f5;
  --my-message-text-color: #1c293b;
  --ai-message-text-color: #fff;
  --operator-message-text-color: #fff;
  --main-color: #009948;
  --main-text-color: #fff;
  --light-gray: #92a9c1;
  --hover-gray: #d2dbe441;
  --gray: #92959E;
  --text-gray: #92959E;
  --green-500: #009948;
  --scroll-thumb-color: #c0c0c0;
  --bottom-chat-activator-position: 10px;
  --right-chat-activator-position: 10px;
}
/* CAN EDIT */

.chat-widget *,
.chat-widget *::before,
.chat-widget *::after {
  box-sizing: border-box;
}

.chat-widget {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
      text-size-adjust: none;
  font-family: 'Plus Jakarta Sans', sans-serif;
  position: fixed;
  z-index: 100000000000000000;
}

.chat-widget p {
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.chat-widget ul[role='list'],
.chat-widget ol[role='list'] {
  list-style: none;
}
.chat-widget ul,
.chat-widget ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.chat-widget p {
  margin: 0;
}

.chat-widget input,
.chat-widget button,
.chat-widget textarea,
.chat-widget select {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  line-height: normal;
}

.chat-widget button {
  border: none;
  cursor: pointer;
}

#phone-checker {
  display: flex;
  flex-direction: column;
  flex: 1 auto;
  padding: 10px;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.phone-checker__wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 auto;
  justify-content: center;
  text-align: center;
  gap: 10px;
  padding: 5px 10%;
  position: relative;
}
#phone-checker p {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 20px;
  color: var(--text-gray);
}
#phone-checker input {
  border: 1px solid #bebebe;
  padding: 3px;
  border-radius: 5px;
  margin-bottom: 6px;
}

#phone-checker input:focus {
  outline: none;
}

#phone-checker input::-webkit-outer-spin-button,
#phone-checker input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#phone-checker input[type=number] {
  -moz-appearance: textfield;
}

.phone-checker__phone-control__icon svg {
  fill: var(--green-500);
  width: 20px;
  height: 20px;
}

.phone-checker__phone-control__text {
  text-align: left;
  font-size: 13px;
  color: gray;
}

.phone-checker__confirm-btn {
  width: 40px;
  margin: 0 auto;
  color: var(--main-color);
  cursor: pointer;
  margin-top: 30px;
}
.phone-checker__confirm-btn svg {
  fill: var(--main-color);
}
.phone-checker__confirm-btn:active svg,
.phone-checker__confirm-btn:hover svg {
  fill: var(--green);
}

.phone-checker__close-btn {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.chat-activator {
  position: fixed;
  z-index: 10000000000;
  bottom: var(--bottom-chat-activator-position);
  right: var(--right-chat-activator-position);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  border-radius: 30px;
  display: flex;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}

.chat-activator__main-icon {
  background-color: var(--main-color);
  width: 60px;
  height: 60px;
  min-height: 60px;
  min-width: 60px;
  max-width: 60px;
  max-height: 60px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100000;
}
.chat-activator__label {
  color: var(--main-text-color);
  background-color: var(--main-color);
  height: 60px;
  padding: 0;
  display: flex;
  align-items: center;
  position: absolute;
  right: 50%;
  visibility: hidden;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  width: 0%;
  overflow: hidden;
}
.chat-activator:hover .chat-activator__label {
  visibility: visible;
  transition: all 1s ease-in-out;
  width: calc(100% + 70px);
  padding: 0 20px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
}

.chat-hello-mess {
  display: flex;
  flex-direction: column;
  gap: 3px;
  background: #fff;
  border-radius: 15px;
  border: 1px solid #e1e2e2;
  bottom: 20px;
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, .2);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 90px;
  max-width: 600px;
  min-height: 50px;
  padding: 10px 16px;
  position: fixed;
  right: 0;
  opacity: 0;
}
.chat-hello-mess._active {
  opacity: 1;
  transition: all 1.5s ease;
  -webkit-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  -ms-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  transition-delay: 0.5s;
}
.chat-hello-mess__text {
  width: 150px;
}
.chat-hello-mess__close-btn {
  background: #9e9d9da8 !important;
  color: #fff;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(60, 64, 67, .3);
  height: 24px;
  left: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  text-align: center;
  top: -30px;
  width: 24px;
  cursor: pointer;
}

.chat-w {
  position: fixed;
  bottom: 100px;
  right: 20px;
  z-index: 10000000;
  width: 400px;
  max-width: 90vw;
  height: 600px;
  max-height: 80vh;
  background: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  color: #434651;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.chat-w__content {
  max-height: 100%;
}

.chat-w__content .chat-header {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 15px;
  border-bottom: 2px solid white;
  background-color: var(--main-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.chat-w__content .chat-header__finish-btn {
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 600;
}
.chat-w__content .chat-header__finish-btn svg {
  width: 20px;
  fill: #fff;
}
.chat-w__content .chat-header__finish-btn:hover svg {
  fill: var(--green)
}
.chat-w__content .chat-header__close-btn {
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.chat-w__content .chat-history {
  padding: 30px 30px 20px;
  overflow-y: scroll;
  flex: 1 auto;
}

.chat-w__content ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100%;
}
.chat-w__content ul li:first-child {
  margin-bottom: auto;
}

.chat-w__content .chat-history .message-data {
  margin-bottom: 15px;
}

.chat-w__content .chat-history .message-data-time {
  color: #92959e;
  padding-left: 6px;
}

.chat-w__content .chat-history__jump-down-btn {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  background: #f3f3f3;
  border: 1px solid #f1f3f4;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 #dadce0;
  color: var(--main-color);
  padding: 10px 18px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.chat-w__content .chat-history .message {
  color: white;
  padding: 10px 15px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
  position: relative;
}

.chat-w__content .chat-history .message:after {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: var(--my-message);
  border-width: 10px;
}

.chat-w__content .chat-history .my-message {
  color: var(--my-message-text-color);
  background: var(--my-message);
}

.chat-w__content .chat-history .my-message:after {
  border-bottom-color: var(--my-message);
  right: 10px;
}

.chat-w__content .chat-history .ai-message {
  color: var(--ai-message-text-color);
  background: var(--ai-message);
  margin: 0 auto;
  text-align: center;
  padding: 5px;
  margin-bottom: 10px;
  width: 80%;
}

.chat-w__content .chat-history .ai-message:after {
  display: none;
}

.chat-w__content .chat-history .other-message {
  color: var(--operator-message-text-color);
  background: var(--operator-message);
}

.chat-w__content .chat-history .other-message:after {
  border-bottom-color: var(--operator-message);
  left: 10px;
}

.chat-w__content .chat-bottom-wrapp {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.chat-w__content .chat-bottom__send-area {
  display: flex;
  gap: 5px;
}
.chat-w__content .chat-bottom__send-area__send-btn {
  width: 45px;
  height: 45px;
  min-width: 45px;
  min-height: 45px;
  max-width: 45px;
  max-height: 45px;
  resize: none;
  margin: 0 10px 0 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 10px;
}
.chat-w__content .chat-bottom__send-area__send-btn:hover {
  background-color: var(--hover-gray);
}

.chat-w__content .chat-message {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.chat-w__content .chat-message textarea {
  width: 100%;
  border: none;
  padding: 10px 15px;
  font: 14px/22px;
  border-radius: 5px;
  resize: none;
  background-color: field;
  field-sizing: content;
}

.chat-w__content .message img {
  max-width: 100px;
}

.chat-w__content .message_file {
  display: flex;
  align-items: center;
  gap: 5px;
}

.chat-w__content .message_file a {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.chat-bottom__ads {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  margin: 5px 10px;
}

.chat-bottom__ads__left {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 5px;
}
.chat-bottom__ads__right {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--light-gray);
}
.chat-bottom__ads__right span:first-child {
  white-space: nowrap;
}
.chat-bottom__ads__right span:last-child {
  font-weight: 700;
}

.chat-bottom__ads__emoji-btn {
  width: 25px;
  height: 25px;
  position: relative;
  display: flex;
  align-items: center;
}
.chat-bottom__ads__emoji-btn svg {
  width: 25px;
  height: 25px;
}
.emoji-picker {
  position: absolute;
  bottom: 0;
  left: -15px;
}

.chat-bottom__ads svg {
  fill: var(--light-gray);
}

.chat-widget *::-webkit-input-placeholder {
  color: var(--light-gray);
}

.chat-widget *::-moz-placeholder {
  color: var(--light-gray);
}

.chat-widget *:-ms-input-placeholder {
  color: var(--light-gray);
}

.chat-widget *::-ms-input-placeholder {
  color: var(--light-gray);
}

.chat-widget *::placeholder {
  color: var(--light-gray);
}

.chat-w__content .chat-message textarea:focus {
  outline: none;
}

.chat-w__content .chat-message .send-btn:active,
.chat-w__content .chat-message .send-btn:hover {
  color: var(--green);
}

.online,
.offline,
.me {
  margin-right: 3px;
  font-size: 10px;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.float-right {
  float: right;
}

.margin-left {
  margin-left: auto;
}

.custom-file-input {
  color: transparent;
  width: 20px;
  cursor: pointer;
}
.custom-file-input::-webkit-file-upload-button,
.custom-file-input::file-selector-button {
  visibility: hidden;
}
.chat-bottom__ads__file-btn {
  position: relative;
}
.chat-bottom__ads__file-btn svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 25px;
  z-index: -1;
}
.custom-file-input:active {
  outline: 0;
}

.chat-w * {
  scrollbar-color: var(--scroll-thumb-color) #fff;
  scrollbar-width: thin !important;
}

.chat-w ::-webkit-scrollbar {
  width: 5px;
}

.chat-w ::-webkit-scrollbar-track {
  background-color: #fff;
}

.chat-w ::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb-color);
}

@media (max-width: 500px) {
  .chat-w {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    bottom: 0;
    right: 0;
    z-index: 10000000000;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
  .chat-w__content .chat-header {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .emoji-picker {
    left: 0;
    max-width: 100vw;
  }
}